{% extends 'management/base.html' %}
{% load bootstrap3 %}
{% block page_header %}Gestion des accès{% endblock %}
{% block management %}
<div class="col-md-9">
	<table class="table table-striped table-hover">
		<tr>
			<th><i class="icon-cloud"></i> Serveur</th>
			<th>Adresse</th>
			<th>Mot de passe</th>
			<th><i class="icon-info-sign"></i> Statut</th>
			<th><i class="icon-cog"></i> Actions</th>
		</tr>
		{% for uconf in userconfigs %}
		<tr>
			<td><a href="{% url 'servers_server' uconf.server.name %}">{{ uconf.server.display_name }}</a></td>
			<td>{{ uconf.address.address }}</td>
			<td>{{ uconf.token }}</td>
			<td>
				{% if uconf.connected %}
				<i class="icon-globe"></i> Connecté
					{% if uconf.current_origin and uconf.current_date %}
					<br /><i class="icon-home"></i> {{ uconf.current_origin }}<br />
					<i class="icon-calendar"></i> {{ uconf.current_date }}
					{% endif %}
				{% else %}
				<i class="icon-off"></i> Non connecté
				{% endif %}
			</td>
			<td>
				<form action="{% url 'management_getconfig' uconf.server.name %}" method="post">
					{% csrf_token %}
					<input type="hidden" name="id" value="{{ uconf.id }}" />
					<input type="submit" class="btn" value="Configuration" />
				</form>
				<br />
				<form action="{% url 'management_access' %}" method="post">
					{% csrf_token %}
					<input type="hidden" name="id" value="{{ uconf.id }}" />
					<input type="submit" class="btn btn-danger" value="Supprimer" />
				</form>
			</td>
		</tr>
		{% endfor %}
	</table>
</div>
<div class="col-md-3">
	<div>
		<form action="{% url 'management_access' %}" method="post">
			{% csrf_token %}
			<legend>Nouvel accès</legend>
			{% bootstrap_form form %}
			<br />
			<button type="submit" class="btn btn-primary">Ajouter</button>
		</form>
		<br />
	</div>
</div>
{% endblock %}
