{% extends 'management/base.html' %}
{% load i18n %}
{% load convertors %}
{% block page_header %}{% trans 'Bandwidth usage' %}{% endblock %}
{% block management %}
<div class="col-md-8">
	<table class="table table-striped table-hover">
		<tr>
			<th><i class="icon-calendar"></i> {% trans 'Date' %}</th>
			<th><i class="icon-cloud"></i> {% trans 'Server' %}</th>
			<th><i class="icon-download"></i> {% trans 'Received (MB)' %}</th>
			<th><i class="icon-upload"></i> {% trans 'Sent (MB)' %}</th>
		</tr>
		{% for bwact in bwacts %}
		<tr>
			<td>{{ bwact.begin }} - {{ bwact.end }}</td>
			<td><a href="{% url 'servers_server' bwact.server.name %}">{{ bwact.server.display_name }}</td>
			<td>{{ bwact.bytes_received|megabytes }}</td>
			<td>{{ bwact.bytes_sent|megabytes }}</td>
		</tr>
		{% endfor %}
	</table>
</div>

<div class="col-md-4">
	<div class="alert alert-warning">
		<p><b>{% trans 'Current month usage' %}</b></p>
		<p><b>{{ traffic|megabytes }}</b> {% trans 'MB transfered this month' %}.</p>
	</div>
</div>
{% endblock %}
