{% extends 'base.html' %}
{% load i18n %}
{% load bootstrap3 %}
{% block title %}{{ BRAND_NAME }} - {% trans 'Password recovery' %}{% endblock %}
{% block content %}

<div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<div class="row page-header">
					<h1>{% trans 'Password recovery' %}</h1>
			</div>
			
			{% if success %}
			<div class="row">
					<div class="alert alert-success">
						<p><b>Récupération de compte terminée</b></p>
						<p>Votre mot de passe ayant été réinitialisé, vous devriez pouvoir
						vous connecter à nouveau.</p> 
					</div>
			</div>
			
			{% else %}
			
			<div class="row">
					{% if form.errors %}
					<div class="alert alert-block alert-warning">
						<h4>Erreur</h4>
						<p>La récupération de compte n'a pas pu être effectuée</p>
					</div>
					{% endif %}
					
					<form method="post" action="{% url 'account_password_recovery' token %}">
						{% csrf_token %}
						{% bootstrap_form form %}
						
						<input class="btn btn-primary" type="submit" value="Récupérer" />
					</form>
			</div>
			
			{% endif %}
			
		</div>
	</div>

</div>

{% endblock %}
