{% extends 'base.html' %}
{% load i18n %}
{% load bootstrap3 %}
{% block title %}{{ BRAND_NAME }} - Inscription{% endblock %}
{% block content %}

<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="row page-header">
					<h1>{% trans 'Sign up' %}</h1>
			</div>
			
			<div class="row pagination-centered">
					{% if form.errors %}
					<div class="alert alert-block alert-warning">
						<h4>{% trans 'Error' %}</h4>
						<p>{% trans "Sign up couldn't been done with provided information" %}</p>
					</div>
					{% endif %}


					<form method="post" action="{% url 'account_signup' token %}">
						{% csrf_token %}
						{% bootstrap_form form %}
						
						<p><input class="btn btn-primary" type="submit" value="{% trans 'Sign up' %}" /></p>
					</form>
			</div>
		</div>
	</div>

</div>

{% endblock %}
