{% extends 'servers/base.html' %}
{% load i18n %}
{% block servers %}
<h2>{{ server.display_name }}</h2>

<div class="row">
	<div class="col-md-7">
		<table class="table table-bordered">
			<tr>
				<th>{% trans 'Name' %}</th>
				<td>{{ server.name }}</td>
			</tr>
			<tr>
				<th>{% trans 'Configuration' %}</th>
				<td><a class="btn btn-primary btn-small" href="{% url 'servers_config' server.name %}">{% trans 'Download' %}</a></td>
			</tr>
			<tr>
				<th>{% trans 'Certification authority' %}</th>
				<td><a class="btn btn-primary btn-small" href="{% url 'servers_authority' server.name %}">{% trans 'Download' %}</a></td>
			</tr>
			<tr>
				<th>{% trans 'Address' %}</th>
				<td>{{ server.address }}</td>
			</tr>
			<tr>
				<th>{% trans 'Protocol' %}</th>
				<td>{{ server.protocol }}</td>
			</tr>
			<tr>
				<th>{% trans 'Port' %}</th>
				<td>{{ server.port }}</td>
			</tr>
			<tr>
				<th>{% trans 'Tunnel type' %}</th>
				<td>{{ server.type }}</td>
			</tr>
			<tr>
				<th>{% trans 'Cipher type' %}</th>
				<td>{{ server.cipher }}</td>
			</tr>
		</table>
	</div>
	
	<div class="col-md-5">
		<table class="table table-bordered">
			<tr>
				<th>{% trans 'Network' %}</th>
				<th>{% trans 'Remaining addresses' %}</th>
			</tr>
			{% for network in networks %}
			<tr>
				<td>{{ network.subnet }}</td>
				<td>{{ network.available }}</td>
			</tr>
			{% endfor %}
		</table>
	</div>
</div>
{% endblock %}
